<ion-header>
  <!-- First toolbar -->
  <ion-toolbar color="dark">
    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- Update button -->
      <ion-button color="success" (click)="presentAlertConfirm()">Publish</ion-button>
      <!-- Settings button -->
      <ion-button (click)="presentWriteModal()">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Title -->
  <textarea padding aria-label="" autosize (keydown)="preventTitleBreak($event)"
            [(ngModel)]="entry.title" placeholder="Title"></textarea>
  <!-- Editor (content) -->
  <quill-editor [(ngModel)]="entry.content" [placeholder]="'Content'"></quill-editor>
</ion-content>
